<div>
  <h1>Prompt:<%= @prompt.text %></h1>
</div>
<div class="border border-black mb-4 px-4 py-2">
  <h2>Responses</h2>
  <ul class="flex gap-3">
    <% @prompt.responses.each do |response| %>
      <li>
        <h3>Response: <%= response.text %></h3>
        <ul class="flex gap-3">
          <% response.reaction_counts.each do |emotion, count| %>
            <li>
              <p><%= emotion %>: <%= count %></p>  
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= render 'responses/form' %>
</div>