<% if user_signed_in? %>
  <div style="align-items: end;" class="flex flex-col">
    <p style="white-space: nowrap; overflow: hidden;"><%= current_user.email %></p>
    <p style="border: 1px black solid; padding-inline: 1rem;"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
  </div>
<% else %>
  <%= form_for(:user, url: user_session_path) do |f| %>
    <div class="flex flex-col gap-3 text-{3rem}">
      <div class="flex gap-3 justify-between">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="flex gap-3 justify-between">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="flex justify-between">
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <button class="bg-red"><%= f.submit "Log in" %></button>
      </div>
    </div>

  <% end %>

  <button class="bg-red"><%= link_to "Sign up", new_user_registration_path %></button>
<% end %>