<%=  form_with model: [ @prompt, @prompt.responses.build ] do |form| %>
  <div>
    <%= form.label "Response" %><br>
    <%= form.text_field :text %>
    <%= form.hidden_field :user_id, value: 1 %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>