<%=  form_with model: [ @prompt, @prompt.responses.build ] do |form| %>
  <div>
    <%= form.label "Response" %><br>
    <%= form.text_field :text, :class => "text-black" %>
    <%= form.hidden_field :user_id, value: 1 %>
  </div>
  <p>
    <%= form.submit :class => "bg-white text-black p-2 mt-3" %>
  </p>
<% end %>