<!DOCTYPE html>
<html>
  <head>
    <title>WhatToSay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_mecdta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
